# Dependencies
node_modules/

# ignore type files
.gitignore/

# ignore examples
examples/

# ignore test files
__tests__/

# src should be included to prepare script to work
# https://docs.npmjs.com/misc/scripts
# You don't have to manually build this with this script
